.content {
    padding: 20px;
  }

  .hero {
    text-align: center;
    margin: 20px 0;
  
    p{
      font-size: 3rem;
      margin: 20px 0;
      font-family: 'Montserrat', sans-serif;
      font-weight:  300; ;
    }
  
  }

  .sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    .section {
      width: 45%;
      margin: 20px 0;
      text-align: center;
  
      h2 {
        font-size: 36px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight:  400;
      }
  
      p {
        font-size: 1.1rem;
        font-family: 'Montserrat', sans-serif;
        text-align: left;

      }
    }
  }