<div class="content">
    <section class="hero">
      <p>A place where I can live from differents perspectives</p>
      <app-image-container [images]="imageUrls"></app-image-container>
    </section>
</div>


<section class="sections">
    <div class="section">
      <h2>Implications</h2>
      <!-- <p>¿Has sentido miedo de hacer algo nuevo? He aquí todo a lo que le tenía miedo, pues soy ahora quien decide a qué temer y a qué no.
        Y como sospecharás, ¿Porqué tener miedo?
      </p> -->
      <p>Have you ever been afraid of trying something new? Here is everything I used to be afraid of, 
        but now I am the one who decides what to fear and what not to. And as you might suspect, why be afraid?</p>
    </div>
    <div class="section">
      <h2>Aproximations</h2>
      <!-- <p>Mi universo neceista entender el universo mismo en que se encuentra. Es una aproximación más para este observador</p> -->
      <p>My universe needs to understand the very universe it is in. It is another approach for this observer.</p>
    </div>
    <div class="section">
      <h2>Expressions</h2>
      <!-- <p>Callarse la puta boca también es expresarse. Eso se lo dejo al observador, pues debo ser consecuente con esta interacción </p> -->
      <p>Keeping one’s f*cking mouth shut is also a way of expressing oneself. I’ll leave that to the observer, as I must be consistent with this interaction.</p>
    </div>

  </section>

