.content {
    padding: 20px;
  }

  .hero {
    text-align: center;
    margin: 20px 0;
  
    .hero-images {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
      justify-items: center;
  
      .hero-image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  
    h1 {
      font-size: 2.5rem;
      margin: 20px 0;
      font-family: 'Montserrat', sans-serif;
    }
  
    p {
      font-size: 1.2rem;
      font-family: 'Montserrat', sans-serif;
    }
  }