<body>
    <router-outlet></router-outlet>
</body>
  


  <!-- <mat-drawer-content>
    <div class="content">
      <section class="hero">
        <div class="hero-images">
          <img src="assets/pan1.jpg" alt="Hero Image" class="hero-image">
          <img src="assets/pan1.jpg" alt="Hero Image" class="hero-image">
          <img src="assets/pan1.jpg" alt="Hero Image" class="hero-image">
        </div>
        <h1>Welcome to GaugeLife</h1>
        <p>Explore the extraordinary everyday.</p>
      </section>

      <section class="sections">
        <div class="section">
          <h2>Photos</h2>
          <p>Discover stunning images capturing the essence of life.</p>
        </div>
        <div class="section">
          <h2>Tech Projects</h2>
          <p>Innovative technology projects that push the boundaries.</p>
        </div>
        <div class="section">
          <h2>Blog</h2>
          <p>Insights and stories from everyday adventures.</p>
        </div>
        <div class="section">
          <h2>About</h2>
          <p>Learn more about GaugeLife and its creator.</p>
        </div>
      </section>
    </div>
  </mat-drawer-content>
</mat-drawer-container> --> -->