@use '@angular/material' as mat;

@import 'app/shared/styles/variables';
@import 'app/shared/styles/mixins';
@import 'assets/styles/themes';


@include mat.core();



html, body { height: 100%; }
/* Estilos globales */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $theme-light-background-color;
  color: $theme-light-text-color; 
  margin: 0;
  padding: 0;
}
