
.main-toolbar {
    background-color: #ffffff !important; /* Fondo blanco */
    color: #000000 !important; /* Texto negro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toolbar-title {
    flex-grow: 1;
    text-align: center;
  }

  .spacer {
    flex: 1;
  }
  .desktop-menu {
    display: flex;
    gap: 15px;
  }  

  .mobile-menu-button {
    display: none;
  }
  
  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }
  
    .mobile-menu-button {
      display: inline-flex;
    }
  
    .toolbar-title {
      text-align: left;
      flex-grow: 0;
    }
  
    .sections {
      flex-direction: column;
      align-items: center;
  
      .section {
        width: 100%;
      }
    }
  
    .hero-images {
      grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
  }